input {
    border-radius: 10px;
    border:1px solid #2aabd2;
    padding: 5px;
}

ul {
    list-style-type: none;
    overflow: auto;
}

span:hover {
    color: blue;
    font-style: oblique;
}
.done{
    text-decoration: none;
    background-image: linear-gradient(transparent 7px,red 7px,red 9px,transparent 9px);
}

.itemToday{

    padding: 1px;
    margin-bottom: 1px;
}

.itemLater{

    padding: 1px;
    margin-bottom: 1px;
}
.add{
    color:blue;
}
.minus{
     color:red;
 }

.check{
    color: green;
}

.my-btn-group{
    border:1px solid #8c8c8c;
    border-radius:5px;
    margin-right: 15px;
}

ul {
    display: flex;
    flex-direction: column;
}
ul li:first-child {
    order: 5;
}
ul li:nth-child(2) {
    order: 4;
}
ul li:nth-child(3) {
    order: 3;
}
ul li:nth-child(4) {
    order: 2;
}